//Fonts
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/MontserratRegular/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular/MontserratRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MontserratRegular/MontserratRegular.woff') format('woff'),
         url('../fonts/MontserratRegular/MontserratRegular.ttf') format('truetype'),
         url('../fonts/MontserratRegular/MontserratRegular.svg') format('svg');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold/MontserratBold.eot');
    src: url('../fonts/MontserratBold/MontserratBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MontserratBold/MontserratBold.woff') format('woff'),
         url('../fonts/MontserratBold/MontserratBold.ttf') format('truetype'),
         url('../fonts/MontserratBold/MontserratBold.svg') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular/RobotoRegular.svg') format('svg');
}